---
---

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #f4f4f4;
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
  a {
  color: #818cf8;
  text-decoration: none;

  &:hover {
  text-decoration: underline;
  }
}
  .wrapper{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  section{
    .credits{
      display: none
    }
  
  }
  #header {
display:none;
}
}
@import "{{ site.theme }}";

