---
---

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 18px !important; 
  color: #f4f4f4 !important;
  background-color: #1f1f1f !important;
  margin: 0 !important;
  padding: 0 !important;

  h1, h2, h3, h4, h5, h6{
    color: #f4f4f4;
  }
  h1 {
	font-size: 2.5rem;
  	margin-top: 1.5rem;
  }

  h2 {
	font-size: 1.75rem;
  padding-top: 0.25rem;
  }

  h3 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  }

 h4 {
  font-size: 17px;
  padding-top: 0.5rem;
  }
  a {
  color: #818cf8;
  text-decoration: none;

  &:hover {
  text-decoration: underline;
  }
}
  .wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    
  }
  section{
    max-width: 1000px;
    .credits{
      display: none
    }
  
  }
  #header {
display:none;
}
}
@import "{{ site.theme }}";

